.fusebox-container { position: fixed; top: 40px; display: none; }
.fusebox-container .ui-widget-shadow { position: absolute; z-index: 3; width: 100%; height: 100%; }
.fusebox { display: none; padding: 10px; z-index: 4; position: relative; float: left; }

/* amount of shadow to display */
.fusebox-container .ui-widget-shadow {
  padding: 10px;
  margin: -10px 0 0 -10px;
}