.fusebox-container { position: absolute; top: 40px; display: none; }
.fusebox-container .ui-widget-shadow { position: absolute; z-index: 3; }
.fusebox { display: none; padding: 10px; z-index: 4; position: relative; float: left; }