.fusebox-container {
  position: absolute;
  top: 40px;
  left: 0;
}

.fusebox { display: none; padding: 10px; z-index: 101; float: left; }
.fusebox-container .ui-widget-shadow { position: absolute; z-index: 100;}